---
layout: ""
page_title: "Provider: Unifi"
description: |
  The Flightdeck provider provides resources to interact with the Flightdeck Developer Platform.
---

# Flightdeck Provider

The Flightdeck provider provides resources to interact with the Flightdeck Developer Platform.

## Configuration

This provider interfaces with the [Flightdeck API](https://github.com/arctir/flightdeck-api) and requires that the user provide a valid, 
authenticated, and authorized API token. This configuraiton may be easily obtained with the [Flightdeck CLI](https://github.com/arctir/flightdeck-cli).
After downloading the binray that matches your operating system and platform from the [Releases Page](https://github.com/arctir/flightdeck-cli/releases), 
simply execute:

```shell
flightdeck-cli auth login
```

This will open a browser window and prompt you to login to your Flightdeck account. After logging in, the CLI will save your API token to your local 
Flightdeck configuration file. 

This Terraform provider will automatically read this configuration file and use the API token to authenticate with the Flightdeck API.

## Example Usage

{{tffile "examples/envs/standard/portal.tf"}}

{{ .SchemaMarkdown | trimspace }}
